@import "/css/mostrarMoeda.css";
@import "/css/conversorMoeda.css";
@import "/css/conversorBTC.css";

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: inria-bold;
}

body{
  background: linear-gradient(180deg, #3E3E3E, #000000, #3E3E3E);
}

@font-face {
  font-family: inria-bold;
  src: url(/fonts/InriaSans-Bold.ttf);
}

@font-face {
  font-family: inria-light;
  src: url(fonts/InriaSans-Light.ttf);
}

@font-face {
  font-family: inria-regular;
  src: url( /fonts/InriaSans-Regular.ttf);
}


.titulo-section{
  text-align: center;
  margin:50px auto 150px auto;
  width: 100%;
}

.titulo-decoracao{
  position: relative;
  margin:0 auto;
  width: 400px;
  height: 300px;
  background-color: #474747;
}

.titulo-section h2{
  position: absolute;
  font-size:7rem;
  top:50%;
  left:50%;
  transform: translate(-30%, -50%);
  color: #FF7A00;
  font-family: inria-bold;
}


.conversores{
  display: flex;
  justify-content: center;
  align-items: start; 
  flex-wrap: wrap;
  margin:100px auto 50px auto;
  gap: 20px;
  width: 1700px;
  max-width: 100%;
}

@media screen and (max-width:1637px) {
  .conversores{
    gap: 0;
  } 
}

@media screen and (max-width:815px) {
  .input-body, .moeda-para-BTC, .conversor-moeda-BTC{
    border-radius: 0;
  }
}