@import "/css/mostrarMoeda.css";
@import "/css/conversorMoeda.css";
@import "/css/conversorBTC.css";

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: inter-regular;
}

body{
  background: linear-gradient(180deg, #272727, #272727, #000000, #000000, #272727);
}

.destacar{
  color: #ff9a3c;
}

@font-face {
  font-family: inter-bold;
    src: url(/fonts/inter-Bold.ttf);
}

@font-face {
  font-family: inter-light;
    src: url(fonts/inter-Light.ttf);
}

@font-face {
  font-family: inter-regular;
  src: url(/fonts/inter-Regular.ttf);
}


.titulo-section{
  text-align: center;
  margin:50px auto 150px auto;
  width: 100%;
}

.titulo-decoracao{
  position: relative;
  margin:0 auto;
  width: 400px;
  height: 300px;
  background-color: #474747;
}

.titulo-section h2{
  position: absolute;
  font-size:7rem;
  top:50%;
  left:50%;
  transform: translate(-30%, -50%);
  color: #FF7A00;
  font-family: inter-bold;
}



.titulo-box{
  position: relative;
  width: 100%;
  color:#ffffff;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 60px;
  padding:30px;
  background-color: #373737;
  z-index: 4;
}

.box-titulo-box{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.box-titulo-box h3{
  font-size: 3.5rem;
  font-family: inter-regular;
}

.box-titulo-box p{
  font-size: 1rem;
  font-family: inter-regular;
  color: #979797;
  margin: 10px 0 0 5px;
  
}

.conversores{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin:100px auto 50px auto;
  gap: 70px;
  width: 1000px;
  max-width: 100%;
}



@media screen and (max-width:815px) {
  .input-body, .moeda-para-BTC, .conversor-moeda-BTC{
    border-radius: 0;
  }
}