@import "/mostrarMoeda.css";
@import "/conversorMoeda.css";

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}


@font-face {
  font-family: inria-bold;
  src: url(./fonts/InriaSans-Bold.ttf);
}

@font-face {
  font-family: inria-light;
  src: url(./fonts/InriaSans-Light.ttf);
}

@font-face {
  font-family: inria-regular;
  src: url(./fonts/InriaSans-Regular.ttf);
}
