*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

@font-face {
  font-family: inria-bold;
  src: url(./fonts/InriaSans-Bold.ttf);
}

@font-face {
  font-family: inria-light;
  src: url(./fonts/InriaSans-Light.ttf);
}

@font-face {
  font-family: inria-regular;
  src: url(./fonts/InriaSans-Regular.ttf);
}

.titulo-section{
  text-align: center;
  background-color: #FFA800;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:3.5rem;
  box-shadow: 0 55px 0 0 #FFA800;
  font-family: inria-bold;
}

.moeda{
  width: 33%;
  height: 100%;
  position: absolute;
  top:0;
  text-align: center;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgb(255, 255, 255);
  font-family: inria-bold;
}

.moeda .title{
  font-size: 2rem;
}

.moeda .value{
  font-size: 1.3rem;
  color: #B87900;
}

.painel-moedas-box{
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin:0 auto;
  background-color: rgb(255, 255, 255);
  border-bottom: 5px solid #FFA800;
}


.painel-moedas{
  position: relative;
  width: 800px;
  height: 200px;
  max-width: 100%;
  margin:0 auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.botao{
  cursor: pointer;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.anterior{
  transform: rotate(-180deg);
}